<!-- Navbar Component -->
<div class="nav fixed-top w-100">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" id="nav-home" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="nav-projects" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" id="nav-quantum" href="">Quantum Outlier Detection</a>
              </li>
              <li>
                <a class="dropdown-item" id="nav-covid" href="">COVID-19 Dashboard</a>
              </li>
              <li>
                <a class="dropdown-item" id="nav-ml-visualizer" href="">ML Algorithm Visualizer</a>
              </li>
              <li>
                <a class="dropdown-item" id="nav-games" href="">Games</a>
              </li>
              <li>
                <a class="dropdown-item" href="https://parsa-ahm.github.io/RealBuddy/" target="_blank">RealBuddy <i class="fa fa-external-link" style="font-size:11px; opacity:0.5;"></i></a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-resources" href="">Resources</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/parsa-ahmadizadeh-22087a321/">
              <i class="fa fa-linkedin m-2" style="font-size: 24px"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/Parsa-ahm">
              <i class="fa fa-github m-2" style="font-size: 24px"></i>
            </a>
          </li>
          <li class="nav-item">
            <a id="nav-resume" href="" target="_blank">
              <i class="fa fa-file-pdf-o m-2" style="font-size: 24px" title="View Resume"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

